<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>NRJ12</key>
				<string>http://nrj-apple-live.adaptive.level3.net/apple/nrj/nrj/nrj12.m3u8</string>
			</dict>
			<dict>
				<key>Direct Star</key>
				<string>http://cupertino-streaming-1.hexaglobe.com/rtpdirectstarlive/smil:directstar-ipad.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>France 24</key>
				<string>http://stream7.france24.yacast.net/iphone/france24/fr/iPad.f24_fr.m3u8</string>
			</dict>
			<dict>
				<key>Euronews (FR)</key>
				<string>http://media4.lsops.net/live/smil:euronews_fr.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>NRJ Pop Rock</key>
				<string>http://nrjlive-apple-live.adaptive.level3.net/apple/nrj/nrjlive-4/appleman.m3u8</string>
			</dict>
			<dict>
				<key>NRJ Pure</key>
				<string>http://nrjlive-apple-live.adaptive.level3.net/apple/nrj/nrjlive-3/appleman.m3u8</string>
			</dict>
			<dict>
				<key>NRJ Dance</key>
				<string>http://nrjlive-apple-live.adaptive.level3.net/apple/nrj/nrjlive-2/appleman.m3u8</string>
			</dict>
			<dict>
				<key>NRJ Urban</key>
				<string>http://nrjlive-apple-live.adaptive.level3.net/apple/nrj/nrjlive-1/nrjurban.m3u8</string>
			</dict>
		</array>
		<key>group</key>
		<string>Chaines Françaises</string>
	</dict>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>BBC News</key>
				<string>http://akamedia2.lsops.net/live/smil:bbcnews_en.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>Euronews</key>
				<string>http://media4.lsops.net/live/smil:euronews_en.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>NASA TV</key>
				<string>http://www.nasa.gov/multimedia/nasatv/NTV-Public-IPS.m3u8</string>
			</dict>
			<dict>
				<key>Redbull.tv</key>
				<string>http://live.iphone.redbull.de.edgesuite.net/iphone.m3u8</string>
			</dict>
			<dict>
				<key>Eurosport UK</key>
				<string>http://live.iphone.eurosport.com/uk1/stc_0_0.m3u8</string>
			</dict>
			<dict>
				<key>Bloomberg</key>
				<string>http://media4.lsops.net/live/smil:bloomber_en.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>Fashion TV</key>
				<string>http://217.146.95.164:8081/ch27yiphone.m3u8</string>
			</dict>
			<dict>
				<key>AlJazeera English</key>
				<string>http://aj.lsops.net/live/smil:aljazeer_en.smil/playlist.m3u8</string>
			</dict>
		</array>
		<key>group</key>
		<string>English Channels</string>
	</dict>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>DEEJAY TV</key>
				<string>http://flv.kataweb.it/hls/deejaytv/deejaytv.m3u8</string>
			</dict>
			<dict>
				<key>Rai News</key>
				<string>http://iphone.sg.softspb.com/ip/15__350.m3u8</string>
			</dict>
			<dict>
				<key>Teleboario </key>
				<string>http://91.121.222.160:1935/teleboario/teleboario.sdp/playlist.m3u8</string>
			</dict>
			<dict>
				<key>Sky TG24</key>
				<string>http://iphone.live.sky.it/jen2011/jen2011_Layer1.m3u8</string>
			</dict>
		</array>
		<key>group</key>
		<string>Canali Italiani</string>
	</dict>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>AlJazeera Mubasher</key>
				<string>http://aj.lsops.net/live/smil:aljamuba_ar.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>AlJazeera Arabic</key>
				<string>http://aj.lsops.net/live/smil:aljazeer_ar.smil/playlist.m3u8</string>
			</dict>
			<dict>
				<key>AlJazeera Sport</key>
				<string>http://demoperform-apple-live.adaptive.level3.net/apple/perform/aljaz/ch01/index_iphone.m3u8</string>
			</dict>
		</array>
		<key>group</key>
		<string>Arabic Channels</string>
	</dict>
</array>
</plist>
